.header {
    display: flex;
    width: 100%;
    padding: 20px 30px ;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.login-logo {
    margin-left: 30px;
    height: 40px;
    width: 141px;
}

button {
    border-radius: 24px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    background-color: rgb(255, 197, 0);
    color: black;
    border: none;
    cursor: pointer;
  }