h1{
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para os campos de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para os botões */
button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0074d9;
    color: #fff;
    cursor: pointer;
}

/* Estilo para o botão "Limpar" */
button:last-child {
    background-color: #e74c3c;
}
